.table {
    margin-top: 20px;
    overflow-y: overlay;
    overflow-x: overlay;
    color: #690a0a;
    height: 400px;
    
}
  
.table tr {
    display: flex;
    justify-content: space-between;
}
  
.table td {
    padding: 0.5rem;

}


.table tr:nth-of-type(odd) {
    background-color: #a1a1a5;
}

.table::-webkit-scrollbar {
    display: none;
}